@font-face {
    font-family: roboto_slabthin;
    src: url(./fonts/web-fonts/robotoslab/RobotoSlab-Thin-webfont.eot);
    src: url(./fonts/web-fonts/robotoslab/RobotoSlab-Thin-webfont.eot?#iefix) format('embedded-opentype'), url(./fonts/web-fonts/robotoslab/RobotoSlab-Thin-webfont.woff) format('woff'), url(./fonts/web-fonts/robotoslab/RobotoSlab-Thin-webfont.ttf) format('truetype'), url(./fonts/web-fonts/robotoslab/RobotoSlab-Thin-webfont.svg#roboto_slabthin) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: roboto_slabregular;
    src: url(./fonts/web-fonts/robotoslab/RobotoSlab-regular-webfont.eot);
    src: url(./fonts/web-fonts/robotoslab/RobotoSlab-regular-webfont.eot?#iefix) format('embedded-opentype'), url(./fonts/web-fonts/robotoslab/RobotoSlab-regular-webfont.woff) format('woff'), url(./fonts/web-fonts/robotoslab/RobotoSlab-regular-webfont.ttf) format('truetype'), url(./fonts/web-fonts/robotoslab/RobotoSlab-regular-webfont.svg#roboto_slabthin) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: roboto_slabbold;
    src: url(./fonts/web-fonts/robotoslab/RobotoSlab-bold-webfont.eot);
    src: url(./fonts/web-fonts/robotoslab/RobotoSlab-bold-webfont.eot?#iefix) format('embedded-opentype'), url(./fonts/web-fonts/robotoslab/RobotoSlab-bold-webfont.woff) format('woff'), url(./fonts/web-fonts/robotoslab/RobotoSlab-bold-webfont.ttf) format('truetype'), url(./fonts/web-fonts/robotoslab/RobotoSlab-bold-webfont.svg#roboto_slabthin) format('svg');
    font-weight: 400;
    font-style: normal
}

.font-roboto-thin {
    font-family: roboto_slabthin
}

.font-roboto-regular {
    font-family: roboto_slabregular
}

.font-roboto-bold {
    font-family: roboto_slabbold
}

.font-arial {
    font-family: arial
}

.cart {
    background: url(images/icon-cart.png) no-repeat center center;
    height: 19px;
    width: 24px
}

.searchform-wrapper input[type=text] {
    border: 1px solid #6e492a;
    font-family: arial;
    font-size: 14px;
    line-height: 18px;
    padding: 5px;
    width: 100%;
    float: right
}

.green-gradient {
    background: #789826;
    background: -moz-linear-gradient(top, #789826 0, #526e0b 97%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #789826), color-stop(97%, #526e0b));
    background: -webkit-linear-gradient(top, #789826 0, #526e0b 97%);
    background: -o-linear-gradient(top, #789826 0, #526e0b 97%);
    background: -ms-linear-gradient(top, #789826 0, #526e0b 97%);
    background: linear-gradient(to bottom, #789826 0, #526e0b 97%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#789826', endColorstr='#526e0b', GradientType=0)
}


a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: none;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    line-height: 120%;
    margin: 0
}

h1 {
    color: #000;
    font-size: 24px
}

h2 {
    color: #222;
    font-size: 20px
}

h3 {
    color: #333;
    font-size: 18px
}

h4 {
    color: #444;
    font-size: 16px
}

h5 {
    color: #555;
    font-size: 14px
}

h6 {
    color: #666;
    font-size: 13px
}

address,
dl,
li,
ol,
p,
ul {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-size: 13px;
    text-align: left
}

ul {
    margin-left: 16px
}

ol {
    list-style-type: decimal;
    margin-left: 20px
}

ol ol {
    list-style: upper-alpha
}

ol ol ol {
    list-style: lower-roman
}

ol ol ol ol {
    list-style: lower-alpha
}

dl {
    margin-bottom: 20px
}

dt {
    font-weight: 700
}

dd {
    margin-bottom: 5px
}

strong {
    font-weight: 700
}

cite,
em,
i {
    font-style: italic
}

blockquote cite {
    display: block;
    font-style: normal;
    text-transform: uppercase
}

a {
    color: #17c7bd;
    text-decoration: underline
}

a:hover {
    text-decoration: none
}

a img {
    border: none
}

img {
    height: auto;
    max-width: 100%
}

table {
    font-size: 13px;
    width: 100%
}

table,
td,
th {
    border: 1px solid #e3e3e3;
    border-collapse: collapse;
    text-align: left
}

td,
th {
    padding: 5px 8px
}

th {
    background: #555;
    color: #fff;
    font-weight: 700
}

blockquote,
q {
    border-left: 1px solid #e3e3e3;
    clear: both;
    color: #333;
    font-style: italic;
    margin: 0 0 20px;
    padding-left: 10px
}

address {
    font-style: italic
}

pre {
    margin-bottom: 20px;
    overflow: auto
}

sup {
    vertical-align: super
}

sub {
    vertical-align: sub
}

embed,
iframe {
    clear: both;
    width: 100%
}

hr {
    background: #e3e3e3;
    border: none;
    height: 1px;
    margin: 15px 0
}

@media (min-width:1200px) {
    .container {
        width: 980px
    }
}

@media (min-width:992px) {
    .container {
        width: 960px
    }
}

body {
    background: #f1f1f1;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%
}

#container,
#top-navigation-wrapper,
#wrapper-footer,
#wrapper-header {
    float: left;
    height: auto;
    position: relative;
    width: 100%
}

#footer,
#main-content,
.footer-signature-content,
.header-content,
.menu-box,
.top-navigation {
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    width: 100%;
    background-color: #fff;
}

#content {
    width: 625px
}

.page-template-template-full-width-php #main-content #content,
.page-template-template-full-width-without-title-php #main-content #content,
.page-template-template-landing-page-php #main-content #content {
    width: 100%!important
}

#sidebar {
    float: right;
    width: 310px;
}

#wrapper-footer {
    margin-top: 10px
}

.scroll-top {
    background: #666 left top no-repeat url(images/scroll-top.png);
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    height: 29px;
    opacity: .2;
    filter: alpha(opacity=20);
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 29px;
    z-index: 200
}

#wrapper .scroll-top:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 1s;
    transition: opacity 1s
}

.alignnone {
    clear: both;
    margin: 5px 20px 20px 0
}

.aligncenter,
div.aligncenter {
    clear: both;
    display: block;
    margin: 5px auto 5px auto
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px
}

a img.alignnone {
    margin: 5px 20px 20px 0
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.gallery-caption,
.wp-caption {
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px;
    text-align: center
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto
}

#wrapper .wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px
}

.wp-audio-shortcode {
    margin-bottom: 20px
}

.header {
    position: relative
}

.header .container {
    margin-top: 25px
}

.header-content-wrapper {
    float: left;
    width: 100%
}

.header-content {
    padding: 35px 0;
    position: relative
}

.site-title {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 46px;
    line-height: 100%;
    margin: 0;
    max-width: 790px;
    position: relative;
    z-index: 50;
    width: auto
}

.site-description {
    color: #999;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 100%;
    margin: 10px 0 0;
    max-width: 790px;
    position: relative;
    z-index: 50;
    width: auto
}

.site-title a {
    color: #17c7bd;
    text-decoration: none
}

.site-title a:hover {
    color: #111;
    -webkit-transition: color 1s;
    transition: color 1s
}

.header-logo {
    clear: both;
    height: auto;
    margin: 0;
    max-width: 790px;
    position: relative;
    width: auto
}

.header-message {
    text-align: center;
    margin-top: 40px
}

.header-message h3 {
    color: #536f0c;
    font-family: roboto_slabregular;
    font-size: 20px;
    line-height: 30px;
    margin: 0
}

.header-message h5 {
    color: #6e492a;
    font: 400 13px/18px Arial;
    margin: 0
}

.top-nav {
    position: absolute;
    top: 18px;
    right: 14%;
    width: 50%
}

.top-nav ul.menu {
    float: left;
    margin: 0
}

.top-nav ul.menu li {
    display: inline-block
}

.top-nav ul.menu li a {
    font: 400 13px/13px Arial;
    color: #6e492a;
    padding: 0 10px;
    border-right: 1px solid #6e492a
}

.top-nav .phone-hours {
    float: right;
    text-align: center
}

.top-nav .phone-hours h4 {
    margin: 0
}

.top-nav .phone-hours h4 a {
    font-family: roboto_slabbold;
    font-size: 18px;
    font-weight: 700;
    color: #536f0c
}

.top-nav .phone-hours h5 {
    font: 400 12px/12px Arial;
    color: #6e492a;
    margin: 0
}

.cart-container {
    padding-right: 0;
    float: right
}

.cart-container .cart-wrapper {
    margin-top: 50px
}

.cart-container .cart-wrapper p {
    text-align: right;
    font-family: arial;
    font-size: 14px;
    color: #6e492a
}

.cart-container .cart-wrapper .cart {
    display: inline-block
}

.cart-container .cart-wrapper .glyphicon-play {
    font-size: 9px;
    color: #536f0c;
    top: -1px
}

.cart-container .searchform-wrapper input[type=text] {
    float: right;
    width: 100%
}

.cart-container .searchform-wrapper input[type=image] {
    width: 20px
}

#top-navigation-wrapper {
    background: #444;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 1px 0 #e0e0e0;
    -moz-box-shadow: 0 1px 0 #e0e0e0;
    box-shadow: 0 1px 0 #e0e0e0;
    float: left;
    height: auto;
    position: relative;
    width: 100%;
    z-index: 150
}

.top-navigation {
    height: auto
}

.header-icons {
    height: 20px;
    position: absolute;
    right: 0;
    top: 9px;
    width: auto
}

#wrapper .top-navigation .header-icons a,
#wrapper .top-navigation .header-icons a img {
    display: block;
    height: 20px;
    padding: 0
}

.social-icon {
    background-color: #b1f1ec;
    float: left;
    margin-left: 5px;
    width: 20px
}

#wrapper .top-navigation .header-icons a img:hover {
    opacity: .7;
    filter: alpha(opacity=70);
    -webkit-transition: opacity 1s;
    transition: opacity 1s
}

.header-image-wrapper {
    background: #fff;
    /*border: 1px solid #e0e0e0;
    -webkit-box-shadow: 0 0 2px #ddd;
    -moz-box-shadow: 0 0 2px #ddd;
    box-shadow: 0 0 2px #ddd;*/
    display: inline-block;
    /*float: left;*/
    /*margin: 0 0 25px;*/
    position: relative;
    width: auto;
    max-width: 100%
}

.header-image-wrapper .header-image {
    padding: 15px;
    position: relative;
    width: 960px;
}

.header-image-wrapper .header-image img {
    display: block
}

.navbar-default {
    background: 0 0
}

.navbar-nav {
    background: #789826;
    background: -moz-linear-gradient(top, #789826 0, #526e0b 97%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #789826), color-stop(97%, #526e0b));
    background: -webkit-linear-gradient(top, #789826 0, #526e0b 97%);
    background: -o-linear-gradient(top, #789826 0, #526e0b 97%);
    background: -ms-linear-gradient(top, #789826 0, #526e0b 97%);
    background: linear-gradient(to bottom, #789826 0, #526e0b 97%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#789826', endColorstr='#526e0b', GradientType=0);
    border-bottom: 2px solid #b08e5c;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0
}

.navbar-nav>li {
    border-right: 1px solid #4d670d
}

.navbar-nav>li>a {
    color: #fff;
    font-family: arial;
    font-size: 12px;
    line-height: 20px;
    padding: 10px;
    display: block
}

.navbar-nav>li:last-of-type {
    border-right: none
}

input[type=text],
input[type=file],
input[type=password],
input[type=number],
input[type=search],
input[type=email],
input[type=url],
select,
textarea {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    color: #333;
    line-height: normal;
    padding: 5px;
    width: 50%
}

textarea {
    overflow: auto;
    vertical-align: top;
    width: 98%
}

input[type=submit],
input[type=reset] {
    background: #75e3db;
    border: none;
    border-radius: 0!important;
    box-shadow: none;
    color: #fff!important;
    cursor: pointer;
    font-size: 15px;
    height: auto;
    margin-top: 5px;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: none
}

input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #17c7bd;
    -webkit-transition: background-color 1s;
    transition: background-color 1s
}

.searchform-wrapper {
    height: 31px;
    position: relative;
    width: 100%
}

.search-no-results .searchform-wrapper {
    margin-top: 15px
}

.searchform-wrapper .send {
    background: #f3eee5 url(images/icon-arrow-right.png) no-repeat center center;
    border: none;
    cursor: pointer;
    height: 31px;
    position: absolute;
    right: 0;
    top: 0;
    width: 31px;
    z-index: 20
}

.send:hover {
    background-color: #e8e2d5;
    -webkit-transition: background-color 1s;
    transition: background-color 1s
}

.entry-content {
    background: #fff;
    border: 1px solid #e0e0e0;
    -webkit-box-shadow: 0 0 2px #ddd;
    -moz-box-shadow: 0 0 2px #ddd;
    box-shadow: 0 0 2px #ddd;
    float: left;
    margin-bottom: 25px;
    position: relative;
    width: 100%
}

.entry-content-inner {
    padding: 15px;
    position: relative;
    width: auto
}

.entry-headline {
    border-bottom: 1px solid #e8e8e8;
    color: #000;
    font-size: 25px;
    line-height: 100%;
    margin: 0 0 15px;
    padding: 0 0 12px;
    position: relative;
    width: auto;
    z-index: 50
}

.content-headline {
    font-size: 27px;
    line-height: 100%;
    margin: 0 0 17px;
    padding-top: 3px
}

.archive .content-headline {
    margin-bottom: 0;
    padding-bottom: 6px
}

#content address,
#content ol,
#content p,
#content table,
#content ul {
    margin-bottom: 14px
}

#content ol ol,
#content ol ul,
#content ul ol,
#content ul ul {
    margin-bottom: 0
}

.home-list-posts {
    background: #fff;
    border: 1px solid #e0e0e0;
    -webkit-box-shadow: 0 0 2px #ddd;
    -moz-box-shadow: 0 0 2px #ddd;
    box-shadow: 0 0 2px #ddd;
    float: left;
    margin-bottom: 25px;
    position: relative;
    width: 100%
}

.home-list-posts-inner {
    padding: 15px;
    position: relative;
    width: auto
}

#footer .home-list-posts,
#sidebar .home-list-posts {
    display: none
}

#main-content .post-meta {
    background: left bottom repeat-x url(images/dotted.png);
    clear: both;
    color: #999;
    font-size: 12px;
    line-height: 21px;
    padding-bottom: 5px;
    margin: -2px 0 0
}

#main-content .post-meta span {
    border-left: 1px solid #dbdbdb;
    padding: 0 6px 0 6px
}

#main-content .post-meta .post-info-author {
    border-left: none;
    padding-left: 0
}

#main-content .post-info {
    background: left top repeat-x url(images/dotted.png);
    clear: both;
    color: #999;
    float: left;
    font-size: 12px;
    line-height: 21px;
    margin: 15px 0 0;
    padding: 3px 0;
    width: 100%
}

.single #main-content #content .post-info {
    background-image: none;
    border-bottom: 1px solid #e8e8e8;
    margin: 0 0 22px;
    padding: 0
}

.post-info a,
.post-meta a {
    color: #999!important;
    text-decoration: none
}

#main-content .nav-next a:hover,
#main-content .nav-previous a:hover,
.post-info a:hover,
.post-meta a:hover {
    color: #111!important;
    -webkit-transition: color 1s;
    transition: color 1s
}

.post-info span {
    display: inline-block;
    min-height: 16px;
    line-height: 16px;
    padding: 0 0 0 22px
}

#main-content .post-info .post-category,
#main-content .post-info .post-tags {
    float: left;
    margin: 0;
    padding: 6px 0;
    width: 50%
}

#main-content .post-info .post-tags {
    padding-left: 5%;
    text-align: right;
    width: 45%
}

.post-info .post-info-category {
    background: left top no-repeat url(images/icon-category.png)
}

.post-info .post-info-tags {
    background: left top no-repeat url(images/icon-tag.png)
}

#content .breadcrumb-navigation {
    background: left bottom repeat-x url(images/dotted.png);
    clear: both;
    color: #b0b0b0;
    font-size: 12px;
    line-height: 100%;
    margin: 0 0 12px;
    padding: 0 0 12px;
    text-align: left
}

#content .breadcrumb-navigation a {
    color: #999!important;
    text-decoration: none
}

#content .breadcrumb-navigation a:hover {
    color: #333!important;
    -webkit-transition: color 1s;
    transition: color 1s
}

#content .archive-meta {
    margin-top: 11px
}

#content .author-avatar img {
    border: 1px solid #ededed;
    padding: 4px
}

#content .archive-meta p {
    margin-bottom: 3px
}

#nav-below,
#papercuts-post-nav,
.search .navigation {
    background: #fff;
    border: 1px solid #e0e0e0;
    -webkit-box-shadow: 0 0 2px #ddd;
    -moz-box-shadow: 0 0 2px #ddd;
    box-shadow: 0 0 2px #ddd;
    float: left;
    margin: 0 0 25px;
    position: relative;
    width: 100%
}

#wrapper #papercuts-post-nav {
    background: 0 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.navigation-inner {
    padding: 15px;
    position: relative;
    width: auto
}

.nav-wrapper {
    background: left top repeat-x url(images/dotted.png);
    float: left;
    width: 100%
}

#wrapper #papercuts-post-nav .nav-wrapper {
    margin-bottom: 0
}

.navigation-headline {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0
}

.navigation .navigation-links {
    margin-bottom: 0!important
}

.navigation .navigation-links a {
    text-decoration: none
}

#main-content .nav-previous {
    float: left;
    margin: 0;
    width: 50%
}

#main-content .nav-next {
    float: right;
    margin: 0;
    text-align: right;
    width: 50%
}

#main-content .nav-next a,
#main-content .nav-previous a {
    text-decoration: none
}

#main-content #content .page-link {
    color: #333;
    font-size: 12px
}

.post-edit-link {
    font-weight: 700
}

.post-entry {
    background: #fff;
    border: 1px solid #e0e0e0;
    -webkit-box-shadow: 0 0 2px #ddd;
    -moz-box-shadow: 0 0 2px #ddd;
    box-shadow: 0 0 2px #ddd;
    float: left;
    margin-bottom: 25px;
    position: relative;
    width: 100%
}

.post-entry-inner {
    padding: 15px;
    position: relative;
    width: auto
}

#main-content .sticky {
    background-color: #eef8f7
}

.post-entry-content-wrapper {
    padding: 15px 0 0
}

.attachment-post-thumbnail {
    border: 1px solid #ededed;
    float: left;
    height: auto;
    margin: 0 15px 0 0;
    max-width: 45%;
    padding: 4px;
    width: auto
}

.page #content .post-thumbnail,
.single #content .post-thumbnail {
    border: 1px solid #ededed;
    display: block;
    margin: 0 0 19px;
    max-width: 100%;
    padding: 4px;
    position: relative
}

.page #content .post-thumbnail .attachment-post-thumbnail,
.single #content .post-thumbnail .attachment-post-thumbnail {
    border: none;
    display: block;
    float: none;
    margin: 0 auto;
    max-width: 100%;
    padding: 0
}

.post-entry-content {
    margin-bottom: -15px
}

.post-entry-content h1 {
    font-size: 21px
}

.post-entry-content h2 {
    font-size: 19px
}

.post-entry-content h3 {
    font-size: 17px
}

.post-entry-content h4 {
    font-size: 16px
}

.post-entry-content h5 {
    font-size: 15px
}

.post-entry-content h6 {
    font-size: 14px
}

#main-content .post-entry .post-entry-headline {
    border-bottom: 1px solid #e8e8e8;
    font-size: 21px;
    line-height: 100%;
    margin: 0 0 7px;
    padding-bottom: 14px
}

#main-content .sticky .post-entry-headline {
    text-transform: uppercase
}

.post-entry .post-entry-headline a {
    color: #17c7bd;
    text-decoration: none
}

.post-entry .post-entry-headline a:hover {
    color: #000;
    -webkit-transition: color 1s;
    transition: color 1s
}

.post-entry .read-more-button {
    background-color: #75e3db;
    color: #fff!important;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin: 8px 0 3px;
    padding: 6px 8px;
    text-decoration: none;
    text-transform: uppercase
}

.post-entry .read-more-button:hover {
    background-color: #17c7bd;
    -webkit-transition: background-color 1s;
    transition: background-color 1s
}

.home-list-posts .post-entry-list-first {
    border: none;
    border-bottom: 1px solid #ededed!important;
    margin: 0;
    padding: 0
}

.home-list-posts .post-entry-list-first .post-entry-content-wrapper {
    margin-top: 10px;
    padding-top: 0
}

.home-list-posts .post-entry-list-first .post-entry-content {
    margin-bottom: 10px
}

#main-content .home-list-posts .post-entry-list-first .post-entry-headline {
    border-bottom: none;
    margin: 0 0 5px;
    padding-bottom: 0
}

.home-list-posts .post-entry-list-first .attachment-post-thumbnail {
    margin-bottom: 15px;
    margin-top: 3px;
    max-width: 50%
}

#main-content .home-list-posts .post-entry-list-first .post-entry-content p {
    margin-bottom: 0
}

.home-list-posts-wrapper {
    float: left;
    margin: 6px 0 17px;
    width: 100%
}

#main-content .home-list-posts ul {
    margin-bottom: 0
}

#main-content .home-list-posts ul li {
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

#content .post-entry-list-first .read-more-button {
    display: none
}

.sidebar-widget {
    background: #EAE3D1;
    border: 1px solid #e0e0e0;
    -webkit-box-shadow: 0 0 2px #ddd;
    -moz-box-shadow: 0 0 2px #ddd;
    box-shadow: 0 0 2px #ddd;
    color: #444;
    font-size: 13px;
    margin-bottom: 20px;
    padding: 0 15px 18px;
    position: relative;
}

.sidebar-widget .sidebar-headline {
    background: #76901E;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 1px 0 #e8e8e8;
    -moz-box-shadow: 0 1px 0 #e8e8e8;
    box-shadow: 0 1px 0 #e8e8e8;
    color: #fff;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 100%;
    margin: 0 -15px;
    padding: 8px 0 8px 15px
}

.sidebar-widget .sidebar-headline a {
    color: #333;
    text-decoration: none
}

.sidebar-widget img {
    height: auto;
    max-width: 100%
}

.sidebar-widget p {
    margin: 8px 0 -5px
}

.sidebar-widget ol li,
.sidebar-widget p,
.sidebar-widget ul li {
    color: #444;
    font-size: 13px
}

.sidebar-widget ul {
    background: left top repeat url(images/sidebar-ul.png);
    margin: 0
}

.sidebar-widget ul li {
    background: left top no-repeat url(images/sidebar-li.png);
    height: auto;
    line-height: 32px;
    list-style-type: none;
    min-height: 32px;
    padding-left: 14px
}

.sidebar-widget ul li a {
    text-decoration: none
}

.sidebar-widget a:hover {
    color: #000!important;
    text-decoration: none;
    -webkit-transition: color 1s;
    transition: color 1s
}

#footer ol li,
#footer p,
#footer ul li {
    color: #444;
    font-size: 13px
}

#footer .footer-widget-area ol,
#footer .footer-widget-area p,
#footer .footer-widget-area ul {
    margin-bottom: 2px
}

.footer-widget-area {
    float: left;
    height: auto;
    margin-right: 41px;
    padding: 30px 0 10px;
    position: relative;
    width: 306px;
    z-index: 50
}

#footer .footer-widget-area-3 {
    margin-right: 0
}

.footer-widget {
    margin-bottom: 20px
}

#footer .footer-widget .footer-headline {
    border-bottom: 1px solid #e8e8e8;
    color: #333;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 19px;
    line-height: 100%;
    margin-bottom: 4px;
    padding-bottom: 7px
}

.footer-signature {
    background: #444;
    border-top: 1px solid #fff;
    -webkit-box-shadow: 0 -1px 0 #e0e0e0;
    -moz-box-shadow: 0 -1px 0 #e0e0e0;
    box-shadow: 0 -1px 0 #e0e0e0;
    float: left;
    position: relative;
    width: 100%;
    z-index: 50
}

.footer-signature .footer-signature-content {
    min-height: 42px
}

.footer-signature .footer-signature-content p {
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    min-height: 22px;
    padding: 10px 0;
    text-align: center
}

.footer-signature .footer-signature-content a {
    color: #d4f8f5
}

#wp-calendar td,
#wp-calendar th {
    text-align: center
}

#wp-calendar #today,
#wp-calendar a {
    font-weight: 700;
    text-decoration: none
}

#wp-calendar #prev {
    text-align: left
}

#wp-calendar #next {
    text-align: right
}

.tagcloud {
    padding-top: 10px
}

#footer .tagcloud {
    padding-top: 0
}

.tagcloud a {
    text-decoration: none
}

.tagcloud a:hover {
    text-decoration: underline
}

.footer-widget img,
.sidebar-widget img {
    padding-top: 3px
}

.footer-widget .wp-caption,
.sidebar-widget .wp-caption {
    border: none;
    margin-right: 0
}

.footer-widget .wp-caption img,
.sidebar-widget .wp-caption img {
    max-width: 100%
}

.sidebar-widget select {
    margin-top: 10px;
    width: 100%
}

.sidebar-widget #searchform {
    margin-top: 15px
}

#comments {
    float: left;
    margin-top: 30px
}

.single .comments-area-post {
    margin-top: 5px!important
}

.page .comments-area-page-hide,
.single .comments-area-post-hide {
    margin-top: 16px!important
}

#content .commentlist {
    list-style-type: none;
    margin-bottom: 25px
}

.commentlist .children {
    list-style-type: none
}

.comment-reply-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    margin-top: 0
}

#comments .entry-headline-wrapper {
    margin-bottom: -21px
}

#comments .entry-headline {
    border-bottom: none;
    color: #333;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: -4px;
    padding: 0
}

.comment-reply-link {
    font-size: 13px
}

.comments-title {
    margin-top: 0
}

#comments .section-heading {
    font-weight: 400
}

#comments ol {
    color: #333;
    margin-left: 0
}

#comments ol ol {
    margin: 0 20px
}

#comments ol li {
    border-top: 1px solid #e8e8e8;
    margin: 15px 0 0 0;
    padding: 15px 0 0 0
}

#comments .avatar,
#comments .fn {
    float: left;
    margin: 0 6px 0 0
}

#comments .fn {
    font-style: italic;
    margin: 0 3px 0 0
}

#comments .edit-link,
#comments time {
    color: #555;
    float: right;
    font-size: 13px
}

#comments .comment-content {
    clear: both;
    padding-top: 10px
}

#comments #comment-nav-below {
    float: left;
    margin: 10px 0 30px;
    width: 100%
}

#comments input,
#comments textarea {
    margin-top: 7px
}

#content #commentform .form-allowed-tags {
    color: #707070;
    font-size: 12px
}

#comments .bypostauthor {
    background: #f2f2f2;
    border-top: 1px solid #ccc;
    color: #000;
    margin-bottom: -15px;
    padding: 10px 30px
}

.reply {
    margin-top: -10px;
    width: 50%
}

#content .comment-content p {
    font-size: 13px;
    margin-bottom: 10px
}

#content .comment-content .edit-link {
    margin: -15px 0 0;
    text-align: right;
    width: 50%
}

#content .comment-content li {
    border: none;
    font-size: 13px;
    margin: 0;
    padding: 0
}

#content #commentform p {
    color: #333;
    font-size: 13px;
    margin-bottom: 5px
}

#content #commentform .comment-notes,
#content #commentform .logged-in-as {
    margin-top: 10px
}

#comments #respond {
    float: left;
    margin-bottom: 20px
}

/*Blog Page Styles*/
.thread {
    background-color: #FAF5EC;
    padding: 15px;
    margin-bottom: 20px;
}

.thread h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    margin-top: 0px;
    font-size: 20px;
    color: green;
    background-color: #E9E3D7;
}

.thread-header {
    font-size: 12px;
    padding: 10px;
    color: #8D7058;
    border-bottom: 1px solid;
}

.thread-text {
    font-size: 12px;
    padding: 10px;
    color: #8D7058;
    border-bottom: 1px solid;
}

.thread-footer {
    font-size: 12px;
    padding: 10px;
    width: 100px;
    color: #8D7058;
}

.thread-tags {
    font-size: 12px;
    padding: 10px;
    width: 100px;
    float: right;
    color: #8D7058;
}

@media screen and (max-width:1000px) {
    #wrapper #footer,
    #wrapper #main-content,
    #wrapper .footer-signature-content,
    #wrapper .menu-box,
    #wrapper .top-navigation {
        max-width: 90%;
        width: 90%
    }
    #wrapper #content {
        max-width: 100%;
        width: 100%
    }
    #wrapper #sidebar {
        float: left;
        margin: 0;
        width: 100%
    }
    #wrapper #header .header-content {
        float: left
    }
    #wrapper #header .header-content .site-description,
    #wrapper #header .header-content .site-title {
        float: left;
        max-width: 90%;
        padding: 0 5%;
        width: 90%
    }
    #wrapper #header .header-content .header-logo {
        float: left;
        margin: 0;
        max-width: 90%;
        padding: 0 5%;
        width: auto
    }
    #wrapper .header-content #searchform .searchform-wrapper {
        float: left;
        margin: 15px 0 0 5%;
        position: relative;
        right: 0;
        top: 0;
        width: 90%
    }
    .js #nav,
    .js #top-nav {
        display: none
    }
    .js .selectnav {
        background: #444;
        border: 1px solid #111;
        color: #fff;
        display: block;
        float: left;
        height: 27px;
        margin: 5px 0 0;
        position: relative;
        width: 50%
    }
    .js .menu-box .selectnav {
        background-color: #fff;
        border-bottom: none;
        border-color: #ededed;
        border-top: none;
        color: #444;
        height: 32px;
        line-height: 32px;
        margin: 0;
        width: 100%
    }
    #wrapper #main-content .post-entry .attachment-post-thumbnail {
        max-width: 50%
    }
    #wrapper #footer {
        padding: 30px 0 10px
    }
    #footer .footer-widget-area {
        margin: 0;
        padding: 0;
        width: 100%
    }
}

@media print {
    html body {
        background: 0 0!important
    }
    #respond,
    #sidebar,
    #top-navigation-wrapper,
    #wrapper-footer,
    #wrapper-header,
    .reply,
    .scroll-top {
        display: none!important
    }
    #main-content,
    #main-content #content {
        max-width: 100%!important;
        width: 100%!important
    }
    .entry-content,
    .header-image,
    .home-list-posts,
    .post-entry {
        border: none;
        -webkit-box-shadow: none!important;
        -moz-box-shadow: none!important;
        box-shadow: none!important
    }
}

